[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"e1839a8" = {path = ".", extras = ["ntlm","gssapi"], editable = true}

[dev-packages]
pylint = "*"
pytest = "*"
pyOpenSSL = "*"

[pipenv]
allow_prereleases = true
